body {
    color: gray;
    font-family: Arial, serif;
    font-size: 22px;
}

h2 {
    color: #ffa2ee;
    font-size: 24px;
}

h1 {
    color: #e576ff;
}

h1:hover {
    color: rebeccapurple;
    transition: color 0.5s;
}

#collections-table img:hover {
    width: 200px;
    transition: width 2s;
}

.colored-tr {
    background-color: #f8a5ff;
}

table{
    border-spacing: 0;
}

#collections-table .colored-tr:hover{
    background-color: darkgoldenrod;
    transition: background-color 0.5s;
}

#menu td{
    padding-right: 15px;
}

#menu td{
    margin-left: 15px;
}

a {
    color: darkgray;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: dimgray;
    transition: color 0.5s;
}

#profile-img{
    border-radius: 50% ;
}

#profile-info-table{
    text-align: center;
}

#profile-img{
    border-radius: 50%;
}
#profile-info-table{
    text-align: center;
}

form label{
    display: inline-block;
    width: 150px;
}

form input{
    border-color: crimson;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 0 0 10px #9b8dff;
}


