<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Collection Manager</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>

<h1 th:text="${value}"></h1>
<div th:each="coll : ${all_collections}">
    <h3 th:text="${coll.title}"></h3>
</div>

<div th:each="str : ${all_strings}">
    <h3 th:text="${str}"></h3>
</div>

<table width="100%">
    <tr height="150px">
        <td bgcolor="#7fffd4">

            <table width="100%">
                <tr>
                    <td height="100px" width="100px">
                        <img width="100px" src="https://icon-library.com/images/collection-icon/collection-icon-23.jpg">
                    </td>
                    <td><h1 align="center">Приложение для работы с коллекциями на любой вкус</h1></td>
                    </td>
                    <td width="100px">
                        <a th:if="${logined}" th:href="@{/logout}">Выйти</a></td>
                    <a th:unless="${logined}" th:href="@{/registration}">Войти</a></td>
                </tr>
            </table>


    </tr>
    <tr height="75px">
        <td bgcolor="#7fffd4">

            <table id="menu">
                <tr>
                    <td><a href="index.html"> Collections</a></td>
                    <td><a href="#"> Admin</a></td>
                    <td><a href="profile.html"> Profile</a></td>
                </tr>
            </table>

        </td>

    </tr>
    <tr height="200px">
        <td bgcolor="#e0ffff">
            <h2>Топ коллекций:</h2>
            <table id="collections-table" width="100%">
                <tr class="colored-tr" th:each="collection : ${all_collections}">
                    <td width="100px"><img width="100px" th:src=${collection.imageUrl}></td>
                    <td th:text="${collection.name}"></td>
                    <td th:text="${collection.title}"></td>
                    <td th:text="${collection.userName}" width="10%"></td>
                    <td>tags</td>
                    <td width="50px"><a href="#">Open</a></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="#7fffd4">4</td>

    </tr>
</table>

</body>

</html>