<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Collection Manager</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>

<table width="100%">
    <tr height="150px">
        <td bgcolor="#7fffd4">

            <table width="100%">
                <tr>
                    <td height="100px" width="100px">
                        <img width="100px" src="https://icon-library.com/images/collection-icon/collection-icon-23.jpg">
                    </td>
                    <td><h1 align="center">Приложение для работы с коллекциями на любой вкус</h1></td>
                    </td>
                    <td width="100px"><a href="sing-in.html">Войти</a></td>
                </tr>
            </table>
    </tr>
    <tr height="75px">
        <td bgcolor="#7fffd4">

            <table id="menu">
                <tr>
                    <td> <a th:href="@{/index}"> Collections</a></td>
                    <td><a href="#"> Admin</a></td>
                    <td> <a th:href="@{/profile/{id} (id=${user.id})}">Profile</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr height="200px">
        <td bgcolor="#e0ffff">
            <h2>Профиль:</h2>
            <table width="600 px">
                <tr height="300 px">
                    <td width="300 px">
                        <img id="profile-img" width="300 px"
                             src="https://akns-images.eonline.com/eol_images/Entire_Site/2019414/rs_600x600-190514063109-600-George-Clooney-Batman-LT-051419-GettyImages-607408286.jpg?fit=around|1080:1080&output-quality=90&crop=1080:1080;center,top">
                    </td>
                    <td rowspan="2" valign="top">

                        <table id="profile-info-table" width="100%">
                            <tr>
                                <td th:text="${user.name}"></td>
                            </tr>
                            <tr>
                                <td th:text="${user.lastName}"></td>
                            </tr>
                            <tr>
                                <td th:text="${user.email}"></td>
                            </tr>
                            <tr>
                                <td th:text="${user.role}"></td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>33</td>
                </tr>
            </table>

            <h2>Создайте коллекцию:</h2>
            <form method="post" th:action="@{/collections/create}" th:object="${collectionCreateDto}">
                <label for="name">Name:</label>
                <input type="text" id="name" th:field="*{name}">
                <br>
                <label for="title">Title:</label>
                <input type="text" id="title" th:field="*{title}">
                <br>
                <label for="description">Descript:</label>
                <input type="text" id="description" th:field="*{description}">
                <br>
                <label for="imageUrl">ImageUrl:</label>
                <input type="url" id="imageUrl" th:field="*{imageUrl}">
                <br>
                <label for="userId">UserId:</label>
                <input type="hidden" id="userId" th:name="userId" th:value="${user.id}">
                <br>
                <br>
                <input type="submit" value="Create">
            </form>

            <hr>

        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="#7fffd4">4</td>

    </tr>
</table>

</body>

</html>